<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Kernel" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Analytics" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Core" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Model" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Analytics.Aggregation" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.ExperienceAnalytics.Aggregation" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.2.0" targetFramework="net48" />
</packages>