<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net472" />
  <package id="Sitecore.Framework.Conditions" version="4.0.0" targetFramework="net472" />
  <package id="Sitecore.XConnect" version="9.3.0" targetFramework="net472" />
  <package id="Sitecore.XConnect.Core" version="9.3.0" targetFramework="net472" />
  <package id="Sitecore.XConnect.Diagnostics" version="9.3.0" targetFramework="net472" />
  <package id="Sitecore.XConnect.Search" version="9.3.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net472" />
  <package id="System.Interactive.Async.Providers" version="3.1.1" targetFramework="net472" />
</packages>