<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <experienceAnalytics>
      <aggregation>
        <flexibleDimensions>
          <dimension id="{188B99DB-32CA-445E-9A90-5B9DBF5F2B6C}" type="Sitecore.ExperienceAnalytics.Aggregation.FlexibleMetrics.Framework.FlexibleDimension`2[[TaxonomyReporting.Models.TaxonomyMetrics, TaxonomyReporting], [TaxonomyReporting.Aggregation.TaxonomyResolver, TaxonomyReporting]], Sitecore.ExperienceAnalytics.Aggregation">
            <param type="TaxonomyReporting.Aggregation.TaxonomyResolver, TaxonomyReporting" />
            <param type="TaxonomyReporting.Aggregation.TagFactCalculator, TaxonomyReporting"/>
          </dimension>
        </flexibleDimensions>
      </aggregation>
    </experienceAnalytics>
    <pipelines>
      <processItem>
        <processor type="TaxonomyReporting.Pipelines.RegisterTaxonomyPageEvent, TaxonomyReporting" patch:after="*[@type='Sitecore.Analytics.Pipelines.ProcessItem.RegisterPageEvents,Sitecore.Analytics']" />
      </processItem>
    </pipelines>
  </sitecore>
</configuration>
