<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <processItem>
        <processor type="TaxonomyReporting.Pipelines.RegisterTaxonomyPageEvent, TaxonomyReporting" patch:after="*[@type='Sitecore.Analytics.Pipelines.ProcessItem.RegisterPageEvents,Sitecore.Analytics']" />
      </processItem>
    </pipelines>
  </sitecore>
</configuration>
